.pie{
   margin: 2% 27%;
   height:45%;
   width: 45%;
   /* center:0%; */
}
.Bar{
   margin: 4% 5%;
   /* height:80%; */
   width: 90%;
}
.line{
   margin: 2% 5%;
   /* height:80%; */
   width: 90%;
}
/* h1{
   font-size: 30px bold;
   margin:2% 15%;
} */
.text{
   font-size: 20px;
   margin:40px 3%;
}
.maintop{
   margin:2% 10% 2% 15%;
}
.heading{
   border: 2px solid rgb(72 73 74);
   height: 70px;
   font-size: 30px;
   padding: 8px;
   box-shadow: 5px 10px 18px #888888;
}
.sales{
   height: 800px;
}



.sidebar {
   margin: 0;
   padding: 0;
   width: 250px;
   background-color: #f2f5f8;
   position: fixed;
   height: 100%;
   overflow: auto;
 }
 

 /* Sidebar links */
 .sidebar a {
   display: block;
   color: black;
   padding: 16px;
   text-decoration: none;
 }
 
 /* Active/current link */
 .sidebar a.active {
   background-color: #04AA6D;
   color: white;
 }
 
 /* Links on mouse-over */
 .sidebar a:hover:not(.active) {
   background-color: #555;
   color: white;
 }
 .BarCard{
    height:775px
 }
 .PieCard{
    height: 600px;
 }

 div.content {
   margin-left: 250px;
   padding: 1px 16px;
   /* height: 1000px; */
 }
.servicesCard{
   height: 900px;
}
#Conclusion{
   height:550px;
}
@media (max-width: 600px) { 
   .pie{
      margin: 2% 7%;
      height: 85%;
      width: 85%;
   }
   .heading{
      font-size: 20px;
   }
   .BarCard{
      height: 500px;
   }
  }
  @media (max-width: 932px) { 
   .maintop{
      font-size: 20px;
      margin:2% 5% 2% 5%;
   }
   .text{
      font-size: 15px;
      margin: 0 2%;
   }
  }

  @media (min-width: 2000px) { 
   .pie{
      /* center:0%; */
      height: 400px;
      width: 400px;
      margin-top: 2px ;
   }
   .Bar{
      height: 650px;
      width: 1400px;
      margin-top: 3% ;
   }
   .BarCard{
      height: 1100px;
   }
  }


  @media (max-width: 700px) {
   .sidebar {
     width: 100%;
     height: auto;
     position: relative;
   }
   .sidebar a {float: left;}
   div.content {margin-left: 0;}
   .BarCard{
      height:525px
   }
 }
 
 /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
 @media screen and (max-width: 400px) {
   .sidebar a {
     text-align: center;
     float: none;
   }
 }